<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="gen"> 
        <div>
        
           
             <nav class="nav-main">
            <div class="logo">Website</div>
            <ul class="menu">
                
                <li>
                    <input type="radio" name="nav-group" id="Home" class="nav-option">
                     <label for="Home" class="nav-item">Home</label>
                </li>
               <li>
                    <input type="radio" name="nav-group" id="About" class="nav-option">
                     <label for="About" class="nav-item">About</label>
                </li>
                 <li>
                    <input type="radio" name="nav-group" id="Css" class="nav-option">
                     <label for="Css" class="nav-item">CSS</label>
                </li>
                <li>
                    <input type="radio" name="nav-group" id="Html" class="nav-option">
                     <label for="Html" class="nav-item">HTML</label>
                </li>
                <li>
                    <input type="radio" name="nav-group" id="Js" class="nav-option">
                     <label for="Js" class="nav-item">JavaScript</label>
                </li>
                <li class="search">
                <div class="box">
                <div class="container-2">
                    <span class="icon"><i class="fa fa-search"></i></span>
                <input type="search" id="search" placeholder="Search..." />
                    </div>
                    </div>
                </li>
             
	
               
            </ul>
        </nav>
            </div>
            
            <div class="a1"></div>
            <div class="a2"></div>
            <div class="a3">
        
                <div class="effect eff-20"> 
                <img src="image/h.jpg" alt="Effect #20" class="imgh" /> 
                <div class="overlay"> 
                    <div class="icon"></div> 
                </div> 
                    <div class="triangle-set"> 
                        <div class="triangle triangle-1"></div> 
                        <div class="triangle triangle-2"></div> 
                    </div> 
                    <div class="caption"> 
                        <h4>Title is Here</h4> 
                        <p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut. </p> 
                        <a class="btn" href="#" title="View More">View More</a> 
                    </div> 
                </div>   
                
                <div class="effect eff-21"> 
                    <img src="image/a.png" alt="Effect #21" class="imgh"/> 
                    <div class="overlay"> 
                        <div class="icon"></div> 
                    </div> 
                    <div class="triangle"></div> 
                    <div class="caption">
                        <h4>Title is Here</h4> 
                        <p> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut. </p> 
                        <a class="btn" href="#" title="View More">View More</a> 
                    </div> 
                </div>        
            </div>
          
           
            <div class="a5">
            <div id="slider">
                <figure>
                    <img src="http://demosthenes.info/assets/images/austin-fireworks.jpg" alt="">
                    <img src="http://demosthenes.info/assets/images/taj-mahal.jpg" alt="">
                    <img src="http://demosthenes.info/assets/images/ibiza.jpg" alt="">
                    <img src="http://demosthenes.info/assets/images/ankor-wat.jpg" alt="">
                    <img src="http://demosthenes.info/assets/images/austin-fireworks.jpg" alt="">
                </figure>
                </div>
            </div>
            <div class="a6">
                <ul class="slides">
                    <input type="radio" name="radio-btn" id="img-1" checked />
                <li class="slide-container">
                    <div class="slide">
                        <img src="http://farm9.staticflickr.com/8072/8346734966_f9cd7d0941_z.jpg" />
                    </div>
		      <div class="nav">
                  <label for="img-6" class="prev">&#x2039;</label>
                  <label for="img-2" class="next">&#x203a;</label>
		      </div>
                    </li>
                    
                    <input type="radio" name="radio-btn" id="img-2" />
                    <li class="slide-container">
                        <div class="slide">
                            <img src="http://farm9.staticflickr.com/8504/8365873811_d32571df3d_z.jpg" />
                        </div>
                        <div class="nav">
                            <label for="img-1" class="prev">&#x2039;</label>
                            <label for="img-3" class="next">&#x203a;</label>
		  </div>
                    </li>

                    <input type="radio" name="radio-btn" id="img-3" />
                    <li class="slide-container">
                        <div class="slide">
                            <img src="http://farm9.staticflickr.com/8068/8250438572_d1a5917072_z.jpg" />
                        </div>
                        <div class="nav">
                            <label for="img-2" class="prev">&#x2039;</label>
                            <label for="img-4" class="next">&#x203a;</label>
                        </div>
                    </li>

                    <input type="radio" name="radio-btn" id="img-4" />
                    <li class="slide-container">
                        <div class="slide">
                            <img src="http://farm9.staticflickr.com/8061/8237246833_54d8fa37f0_z.jpg" />
                        </div>
		  <div class="nav">
			<label for="img-3" class="prev">&#x2039;</label>
			<label for="img-5" class="next">&#x203a;</label>
		</div>
                    </li>

                    <input type="radio" name="radio-btn" id="img-5" />
                    <li class="slide-container">
                        <div class="slide">
                            <img src="http://farm9.staticflickr.com/8055/8098750623_66292a35c0_z.jpg" />
                        </div>
		  <div class="nav">
			<label for="img-4" class="prev">&#x2039;</label>
			<label for="img-6" class="next">&#x203a;</label>
		</div>
                    </li>

                    <input type="radio" name="radio-btn" id="img-6" />
                    <li class="slide-container">
                        <div class="slide">
                            <img src="http://farm9.staticflickr.com/8195/8098750703_797e102da2_z.jpg" />
                        </div>
                        <div class="nav">
                            <label for="img-5" class="prev">&#x2039;</label>
                            <label for="img-1" class="next">&#x203a;</label>
		                  </div>
                    </li>

                    <li class="nav-dots">
                        <label for="img-1" class="nav-dot" id="img-dot-1"></label>
                        <label for="img-2" class="nav-dot" id="img-dot-2"></label>
                        <label for="img-3" class="nav-dot" id="img-dot-3"></label>
                        <label for="img-4" class="nav-dot" id="img-dot-4"></label>
                        <label for="img-5" class="nav-dot" id="img-dot-5"></label>
                        <label for="img-6" class="nav-dot" id="img-dot-6"></label>
                    </li>
                </ul>
                
            </div>
            <footer class="a4">
            </footer>
     </div>
    </body>
</html>